<div class="main-header text-center">
    <div class="my-photo">
      <img alt="" src="/assets/images/mrmosh.jpg">
    </div>
    <div class="name-of-site">
      <h1>Moshood Temitope</h1>
    </div>
    <div class="who-am-i">
      <span>FrontEnd Engineer</span>
      <span>User Interface Designer</span>  
      <span>User Experience Researcher</span>
    </div>
    <!-- <div class="connect-with-me">
      <a href="https://twitter.com/moreshud15?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @moreshud15</a>
      
      
      <a class="github-button" href="https://github.com/moshoodtemitope" aria-label="Follow @moshoodtemitope on GitHub">Follow @moshoodtemitope</a>
    </div> -->

  </div>