<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include siteheader.html %}
  <body>
    <div class="about-me-wrap">

    
    <section class="main-page-header">
      <div class="site-header">
        <div class="my-fav">
            <a href="/"> <img alt="" src="/assets/images/header-fav-white.png"></a>
        </div>
        
        <nav class="main-nav">
          <a href="/">Home</a>
          <a href="/" class="blog-link">Blog</a>
        </nav>
      </div>
      <div class="main-header text-center">
        <div class="my-photo">
          <img alt="" src="/assets/images/mrmosh.jpg">
        </div>
        <div class="name-of-site">
          <h1>Moshood Temitope</h1>
        </div>
        <div class="who-am-i">
          I am a 
          <span>FrontEnd Engineer</span>
          <span>User Interface Designer</span>  
          <span>User Experience Researcher</span>
        </div>
        <div class="connect-with-me">
          <!-- <a href="#">Twitter</a> -->
          <a href="https://twitter.com/moreshud15?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @moreshud15</a>
        </div>

      </div>
    </section>

    <section class="main-content">
      <div class="about-middle-section">
        <div>
          Moshood Temitope is a Front-End Engineer, User Interface Designer &amp; User Experience researcher based in Lagos, Nigeria.
          I am passionate about Human Computer Interaction. 
          I also design user interfaces for web applications. 
          I conduct User Experience Researches about how people use products.
        </div>
        <div>I currently work as a Front End Engineer  at <a href="http://alat.ng" target="_blank">Alat - Nigeria's first fully digital bank</a>. 
          My focus is on the Alat web product  <a href="http://online.alat.ng" target="_blank">A product targeted at helping customers do all banking transactions without being physically present at a bank.</a>
          Alat is product built from scratch to be entirely digital, making all banking services available to people anywhere  online
        </div>
        <div>Prior to <strong>Alat</strong>  I worked as Front End Engineer at <a href="https://vconnect.com" target="_blank">VConnect</a>. 
          My focus was on the  <a href="https://business.vconnect.com" target="_blank">Business Owners Dashboard product.</a>
          The Business Owners product is a flagship product of the organization as thousands of 
          Business Owners manage their business enquiries and customers with this product.
        </div>
        <div>
          Prior to <strong>VConnect</strong> , I worked at <strong>Orbi Technologies</strong>  as a Front End Engineer 
          where I designed the entire interface for the version 2.0 of the Orbi product,
          a web application  for a social media product based on voice notes. 
          I also briefly led the Windows Mobile team working on the mobile version of the this flagship product.
        </div>
        <div>Outside of work, I voluntarily mentor 
          web developers(a recent activity being a mentor at <a href="hhttps://andela.com/alcwithgoogle/">Andela Learning Community</a>  )  
          and write articles about my learnings on my <a href="/writing">Blog.</a>
        </div>

        <div>
          <span>Connect with me</span>
          <p class="connect-me">
            <a href="https://www.linkedin.com/in/temitopemoshood/" target="_blank">
              <span>LinkedIn</span>  &nearr; 
            </a>
          </p>
          <p class="connect-me">
              <a href="https://twitter.com/moreshud15" target="_blank">
                <span>Twitter</span>  &nearr; 
              </a>
          </p>

          <p class="connect-me">
              <a href="https://github.com/moshoodtemitope" target="_blank">
                <span>Github</span>  &nearr; 
              </a>
          </p>

        </div>
        
        <p class="back-btn"><a href="/">Back to Home</a></p>
      </div>
      {% include sitefooter.html %}