<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include siteheader.html %}
  <body>
    <div class="about-me-wrap">

    
    <section class="main-page-header">
      <div class="site-header">
        <div class="my-fav">
          <a href="/"> <img alt="" src="/assets/images/header-fav-white.png"></a>
          
        </div>
        
        <nav class="main-nav">
          <a href="/">Home</a>
          <a href="/" class="blog-link">Blog</a>
        </nav>
      </div>
      <div class="main-header text-center">
        <div class="my-photo">
          <img alt="" src="/assets/images/mrmosh.jpg">
        </div>
        <div class="name-of-site">
          <h1>Moshood Temitope</h1>
        </div>
        <div class="who-am-i">
          I am a 
          <span>FrontEnd Engineer</span>
          <span>User Interface Designer</span>  
          <span>User Experience Researcher</span>
        </div>
        <div class="connect-with-me">
          <!-- <a href="#">Twitter</a> -->
          <a href="https://twitter.com/moreshud15?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="true">Follow @moreshud15</a>
        </div>

      </div>
    </section>

    <section class="main-content">
      {{ content }}
      {% include sitefooter.html %}